/* style.type = 'text/css'; // MIME type */
/* @syntax: asterisk (*) is for wildcard selectors */
/* @remove: reset initial values w/ initial or reset/normalize */
/* @remove: .no-wrap { @white-space: nowrap;  } */
/* @remove: .no-wrap*{ @white-space: inherit; } */
/* @fix: user-select and text-decoration if broken */
@font-face {
font-family: "Harmonia Sans Mono W01 Bold", Arial, sans-serif;
font-style: normal;
font-weight: 400;
src: url("https://db.onlinewebfonts.com/t/c74330a6dd30a3d8efa0ed361cf6f98f.woff2") format("woff2");
}

body {
    background-color: #222222;
    white-space: pre-wrap;
    color: white;
    font-family: 'Harmonia Sans Mono W01 Bold';
    font-style: normal;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
}

.hl-hover:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.alt-text {
    color: #FAFFAF;
}

.reserve {
    color: blue;
}

footer {
    background-color: #222222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
